*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    width: 160px;
    height: 160px;
   /* background-color: aqua;*/
}
.outer{
    width: 160px;
    height: 160px;
   /* border: 1px solid red;*/
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
             -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 20px;
}
.inner{
    
    width: 120px;
    height: 120px;
    /*border: 1px solid red;*/
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 0px  rgba(255, 255, 255, 0.7),
                    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number{
    font-weight: 600;
    color: #555;
}

circle{
    fill: none; /* makes svg invicible*/
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440; /*440 is the complete svg circle*/
    stroke-dashoffset: 440; /*440 is the part of the circle that has been hidden i.e transprent. we will use this concept to animmate the circle*/
    animation: anim 2s linear forwards;
}

svg{
    position: relative;
    top: -161px;
    left: 0;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 154; /*to get the 65%, we do "440-440*0.65' */
    }
}